body
{
 font-size: 15px
;
 font-family: 'Montserrat'
;
 font-weight: 400
;
 height: 1080px
;
 width: 100%
;
}
.container
{
 width: 1172px
;
 /* border: 1px solid red; */
 margin:
0 auto
;
}
.logoname
{
 padding-top: 10px
;
}
.account
{
 height: 50px
;
 width: 50px
;
}
.logo
{
 background: #000
;
 color: white
;
 padding: 15px 15px
;
 border-radius: 20px
;
 margin: 35px 35px
;
 font-size: 36px
;
}
.name
{
 color: black
;
 font-size: 36px
;
 font-weight: 700
;
}
.head
{
 display: flex
;
 align-items: center
;
 background: #D9D9D9
;
 width: 100%
;
 height: 76px
;
 margin-top: 30px
;
 font-weight: 700
;
 font-size: 20px
;
}

.main{
 display: flex;
}
.order{
 margin-left: 35px;
}
.contacts{
 margin-left: 60px;
}
.about{
 margin-left: 85px;
}
.number{
 margin-left: 200px;
}
.header1{
 font-weight: 700;
 font-size: 51px;
 margin-top: 10px;
}
.description{
 display: flex;
 font-weight: 400;
 font-size: 24px;
 margin-top: 10px;
}
.table{
 margin-top: 10px;
 margin-left: 100px;
 border-collapse: collapse;
 line-height: 1;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 mix-blend-mode: darken;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
.title1{
 background: #52FF00;
 font-weight: 700;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 }
.title2{
 background: #FFE600
;
 font-weight: 700
;
 border-top-left-radius: 20px
;
 border-top-right-radius: 20px
;
}
.title3
{
 background: #FF0000
;
 font-weight: 700
;
 border-top-left-radius: 20px
;
 border-top-right-radius: 20px
;
}
 .k {
 padding: 1px 1px
;
 font-weight: 700
;
 font-size: 11px
;
 }
 .kk {
 padding: 1px 1px
;
 font-weight: 700
;
 font-size: 11px
;
 }
 .kkk
{
 padding: 1px 1px
;
 font-weight: 700
;
 font-size: 11px
;
 }
 .button
{
 display: inline-block
;
 border-radius: 20px
;
 font-weight: 700
;
 text-decoration: none
;
 font-size: 11px
;
 }
 .dop
{
 font-size: 48px
;
 font-weight: 700
;
 margin-left: 100px
;
 }
 .list
{
 display: flex
;
 background: #D9D9D9
;
 width: 100%
;
 height: 105px
;
 margin-top: 5px
;

 font-weight: 700
;
 font-size: 12px
;
 }
 .course
{
 margin-top: 10px
;
 margin-left: 10px
;
 }
 .referat
{
 margin-top: 80px
;
 margin-left: -260px
;
 }
 .cand
{
 margin-top: 10px
;
 margin-left: 200px
;
 }
 .mag
{
 margin-top: 80px
;
 margin-left: -227px
;
 }
.experts
{
 font-size: 32px
;
 font-weight: 700
;
 margin-left: 370px
;
}
.pashasvg
{
 padding-top: 300px
;
}
.photos
{
 display: flex
;
 flex-direction: row
;
 justify-content: space-around
;
}
.pasha
{
 margin-left: 100px
;
 font-size: 24px
;
 font-weight: 700
;
}
.vadum
{
 font-size: 24px
;
 font-weight: 700
;
 margin-left: 485px
;
 margin-top: -30px
;

}
.ivan
{
 font-size: 24px
;
 font-weight: 700
;
 margin-top: -30px
;
 margin-left: 870px
;
}
.dp
{
 margin-top: -10px
;
 margin-left: 40px
;
}
.dv
{
 margin-left: 520px
;
 margin-top: -20px
;
}
.di
{
 margin-left: 840px
;
 margin-top: -20px
;
}
.leg
{
 display: flex
;
 align-items: center
;
 background: #D9D9D9
;
 width: 100%
;
 height: 76px
;
 }
.logos
{
 display: inline-block
;
 line-height: 100%
;
 padding: 10px
;
}
.tg
{
 margin-left: 20px
;
}
.number2
{
 margin-left: 700px
;
}